BasedOnStyle: LLVM
DisableFormat: false

AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignConsecutiveMacros: None
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: true
BinPackParameters: true
BitFieldColonSpacing: Both
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Attach
BreakBeforeConceptDeclarations: true
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterComma
BreakStringLiterals: true
ColumnLimit: 0
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
DeriveLineEnding: true
DerivePointerAlignment: false
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: LogicalBlock
FixNamespaceComments: true
IncludeBlocks: Regroup
IncludeCategories: 
  # special
  - Regex: '"RKTrackRep\.h"'
    Priority: 2
  - Regex: '"Track\.h"'
    Priority: 2
  - Regex: '"TrackPoint\.h"'
    Priority: 2
  - Regex: '"Randomize\.hh"'
    Priority: 4
  - Regex: '"globals\.hh"'
    Priority: 4
  # general
  - Regex: '"MACE/.*\.h.*"'
    Priority: 0
  - Regex: '"Mustard/.*\.h.*"'
    Priority: 1
  - Regex: '"CLHEP/.*"'
    Priority: 3
  - Regex: '"ROOT/.*"'
    Priority: 4
  - Regex: '"R.*\.hxx"'
    Priority: 4
  - Regex: '"R.*\.h"'
    Priority: 4
  - Regex: '".*/T.*\.h"'
    Priority: 4
  - Regex: '"T.*\.h"'
    Priority: 4
  - Regex: '"G4.*"'
    Priority: 5
  - Regex: '"pmp/.*"'
    Priority: 6
  - Regex: '"backward\.hpp"'
    Priority: 7
  - Regex: '"yaml-cpp/.*"'
    Priority: 8
  - Regex: '"argparse/.*"'
    Priority: 9
  - Regex: '"Eigen/.*"'
    Priority: 10
  - Regex: '"gsl.*\.h"'
    Priority: 11
  - Regex: '"mpi.*\.h"'
    Priority: 12
  - Regex: '"muc/.*"'
    Priority: 13
  - Regex: '"gfx/timsort.hpp"'
    Priority: 14
  - Regex: '"gsl/.*"'
    Priority: 15
  - Regex: '"fmt/.*\.h"'
    Priority: 16
  # very general
  - Regex: '".*"'
    Priority: 2
  - Regex: '<.*>'
    Priority: 17
IndentAccessModifiers: false
IndentCaseBlocks: false
IndentCaseLabels: false
IndentExternBlock: AfterExternBlock
IndentGotoLabels: false
IndentPPDirectives: AfterHash
IndentRequires: true
IndentWidth: 4
IndentWrappedFunctionNames: false
KeepEmptyLinesAtTheStartOfBlocks: true
LambdaBodyIndentation: Signature
Language: Cpp
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
PPIndentWidth: -1
PackConstructorInitializers: Never
PointerAlignment: Left
ReferenceAlignment: Left
ReflowComments: true
SeparateDefinitionBlocks: Leave
ShortNamespaceLines: 0
SortIncludes: CaseSensitive
SortUsingDeclarations: true
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: Never
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: false
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: 1
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard: Latest
TabWidth: 4
UseTab: Never
