**/.ipynb_checkpoints/
**/.vs/
**/.vscode/
**/build/
**/GPATH
**/GRTAGS
**/GTAGS
**/out/
**/temp/
**/tmp/
document/doxygen/html/
document/doxygen/latex/
document/doxygen/man/
document/doxygen/rtf/
document/doxygen/xml/
